# IDE settings ignore
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# Mac DS_Store Files
.DS_Store

# composer & bower & npm
/composer.lock
/node_modules
/vendor

# assets
/app/assets/dist/*
