html, body {
  height: 100%;
}

.wrap {
  min-height: calc(100% - 20px);
  margin-top: 40px;
}

footer {
  height: 50px;
  border-top: @border-default;
  padding-top: 20px;
  color: #b7b7b7;
}
